@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Osnova */
  --bg-soft: #f7f2e8; /* Veoma blaga, topla bež za pozadinu sajta */
  --accent-soft: #EBE6E0; /* Za hover efekte i nežne bordure */
  --text-main: #000000; /* Striktno crna za sav tekst */
  
  /* Primarna boja (Ljubičasta) */
  --primary: #6B4E71; /* Zagasita, elegantna ljubičasta */
  --primary-hover: #5A415F;
  
  /* Sekundarna / Success boja (Zelena) */
  --success: #4A7C59; /* Tamnija, smirujuća zelena za progres/uspeh */
  --bg-accent-green: #E8F0EA; /* Veoma svetla, pastelno zelena za pozadine kartica */
}

body {
  background-color: var(--bg-soft);
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
}